---
import Layout from "@layouts/Base.astro";

import Container from "@components/Container.astro";
import Header from "@components/Header.astro";
import Heading from "@components/Heading.astro";
import Paragraph from "@components/Paragraph.astro";
import Section from "@components/Section.astro";
import Subheading from "@components/Subheading.astro";

const board = [
  {
    name: "Joep Swinkels",
    role: "Voorzitter",
    contact: "https://www.linkedin.com/in/joep-swinkels",
  },
  {
    name: "Casper van Wetten",
    role: "Secretaris",
    contact: "https://www.linkedin.com/in/covanwetten/",
  },
  {
    name: "Björn Koemans",
    role: "Penningmeester",
    contact: "https://www.linkedin.com/in/bjornkoemans/",
  },
];
---

<Layout>
  <Header />

  <Container>
    <Section>
      <Heading>Doelstelling</Heading>

      <Paragraph>
        Stichting Sticky organiseert activiteiten ten behoeve van Studievereniging Sticky.

        Onze statuten zijn gedeponeerd in Utrecht. Een digitale versie kunt u <a class="link" href="/statuten.pdf">hier</a> vinden.
      </Paragraph>
    </Section>

    <Section>
      <Heading>Bestuur</Heading>

      <Paragraph>
        Het bestuur van Stichting Sticky bestaat uit de volgende personen:
      </Paragraph>

      <ul class="pl-1 list-inside list-['-_']">
        {board.map(({ name, role, contact }) => (
          <li>
            <a class="link" href={contact}>{name}</a>
            {role}
          </li>
        ))}
      </ul>
    </Section>

    <Section>
      <Heading>Contact</Heading>

      <Paragraph>
        Het bestuur van Stichting Sticky kan worden bereikt via <a class="link" href="mailto:bestuur@stichtingsticky">bestuur@stichtingsticky.nl</a>.
      </Paragraph>

      <Paragraph>
        <strong>IBAN</strong> NL77 INGB 0006 7032 74<br />
        <strong>KvK</strong> 61972525<br />
        <strong>BTW</strong> NL854573665B01
      </Paragraph>

      <Subheading>Vestigingsadres</Subheading>

      <address class="mb-2 sm:mb-4">
        Stichting Sticky<br />
        Princetonplein 5<br />
        3584 CC Utrecht<br />
        The Netherlands
      </address>

      <Subheading>Correspondentieadres</Subheading>

      <address class="mb-2 sm:mb-4">
        Stichting Sticky<br />
        Buys Ballotgebouw 2.81<br />
        Winthontlaan 30 C<br />
        3526 KV Utrecht<br />
        The Netherlands
      </address>
    </Section>
  </Container>
</Layout>
