---
import '@fontsource/lora/400.css'
import '@fontsource/lora/700.css'

import '~/styles/global.css'

export interface Props {
  title?: string
  description?: string
}

const {
  title = 'Stichting Sticky',
  description = 'Stichting Sticky is een organisatie die zich bezig houdt met het organiseren van activiteiten ten behoeve van de te Utrecht gevestigde vereniging Studievereniging Sticky.',
} = Astro.props as Props

const keywords = [
  'stichting',
  'studie',
  'studievereniging',
  'Sticky',
  'Utrecht',
  'student',
  'students',
  'computer',
  'information',
  'science',
  'sciences',
  'university',
]
---

<!DOCTYPE html>

<html lang="nl" class="selection:bg-primary-lighter selection:text-background text-foreground dark:text-background font-serif antialiased">

<head>
  <meta charset="utf-8" />

  <link rel="icon" href="/favicon.ico" sizes="32x32" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/icon-180x180.png" />

  <link rel="manifest" href="/manifest.json" />

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="theme-color" content="oklch(69.1% 0.162 351.4)" />
  <meta name="color-scheme" content="only light" />

  <meta name="author" content="Stichting Sticky" />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords.join()} />

  <meta name="generator" content={Astro.generator} />

  <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <title>{title}</title>
</head>

<body class="bg-background dark:bg-foreground flex min-h-screen flex-col justify-center">
  <slot />
</body>

</html>
